@import url("https://fonts.googleapis.com/css?family=Nunito");
.tab-content {
  background-color: #f4f6f9;
  width: calc(100% - 300px);
}
.wrapper .content-wrapper {
  margin-left: 0 !important;
  min-height: auto !important;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}
.top_menu {
  box-shadow: none;
  border-radius: 0;
  min-height: 60px;
  margin: 0 !important;
}
.top_menu .card-header {
  background-color: #f4f6f9;
  border-bottom: 1px solid #d2d2d2;
  min-height: 60px !important;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 0px;
}
.top_menu .card-header .btn {
  margin-right: 15px;
}
.top_menu .card-header .btn i {
  margin-right: 8px;
}
table.sentence .text_td > span {
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
table.sentence .but_td > span a {
  height: 42px;
}
.vgt-table td {
  padding: 6px 6px !important;
}
.vgt-table .text_td > span,
.vgt-table .id_td > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  line-height: 42px;
}
.vgt-table .check_td span,
.vgt-table th:first-child span {
  display: flex;
  justify-content: center;
  height: 42px;
}
.vgt-table th:first-child {
  padding-right: 14px;
}
.vgt-table th:first-child > span {
  height: 24px;
  width: 17px;
}
.vgt-table input[type=checkbox] {
  cursor: pointer;
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
}
.vgt-table .trigger,
.vgt-table .sentence,
.vgt-table .translation {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  line-height: 38px;
}
.vgt-table .trigger:hover {
  background: #f2f1f1;
  font-weight: 700;
}
.vgt-table .btn {
  min-width: auto;
}
#default_pane .block-tab {
  margin-top: 30px;
}
.modal .button_footer {
  border-top: 1px solid #e9ecef;
  margin: 30px -15px 0px -15px;
  text-align: right;
  padding: 15px 15px 0px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal .form-group label {
  color: #747474;
  text-transform: uppercase;
  font-size: 13px;
}
.block_type {
  display: flex;
}
.block_type .form-group {
  width: 45%;
  margin-right: 5%;
}
.block_type .desc_type {
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  color: #747474;
  font-size: 16px;
  border-radius: 7px;
}
.tab-content > .tab-pane,
.tab-content .pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.tab-content .pill-content > .active {
  display: block;
}
.btn {
  min-width: 100px;
}
.btn-warning {
  background-color: #ffebae;
  border-color: #ffebae;
}
.btn-warning:hover {
  background-color: #f9db84;
  border-color: #f9db84;
}
#select_type {
  padding: 0px;
}
#select_type .disabled_select {
  background-color: #f4f6f9 !important;
}
.block_table {
  margin-top: 12px;
  margin-bottom: 0px !important;
}
.vgt-global-search__input.vgt-pull-left span.sr-only {
  position: absolute !important;
  left: 37px !important;
  width: 35px !important;
  height: 30px !important;
  top: 2px !important;
  opacity: 1 !important;
  display: none;
  clip: auto !important;
  clip-path: border-box;
  background: white;
  border: 1px solid #ffc4c4;
}
.vgt-global-search__input.vgt-pull-left span.sr-only span {
  font-size: 22px;
  line-height: 28px;
  padding-left: 9px;
  color: #f00;
  cursor: pointer;
}


