@import url(https://fonts.googleapis.com/css?family=Nunito);
.tab-content {
  background-color: #f4f6f9;
  width: calc(100% - 200px);
}

.top_menu .card-header {
  background-color: #f4f6f9;
  border-bottom: 1px solid #d2d2d2;
  min-height: 60px !important;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 0;
}
.top_menu .card-header .btn {
  margin-right: 15px;
}
.top_menu .card-header .btn i {
  margin-right: 8px;
}

table.sentence .text_td > span {
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 18px;
}
table.sentence .but_td > span a {
  height: 42px;
}

.vgt-table td {
  padding: 6px 6px !important;
}
.vgt-table .text_td > span,
.vgt-table .id_td > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.vgt-table .checkbox_td span {
  display: flex;
  justify-content: center;
  height: 42px;
}
.vgt-table input[type=checkbox] {
  cursor: pointer;
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
}
.vgt-table .trigger,
.vgt-table .sentence,
.vgt-table .translation {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  line-height: 38px;
}
.vgt-table .trigger:hover {
  background: #f2f1f1;
  font-weight: 700;
}
.vgt-table .btn {
  min-width: auto;
}

#default_pane .block-tab {
  margin-top: 30px;
}

.modal .button_footer {
  margin: 0;
  text-align: right;
  padding: 0 3px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal .form-group label {
  color: #747474;
  text-transform: uppercase;
  font-size: 13px;
}

.block_type {
  display: flex;
}
.block_type .box-left-site {
  width: 35%;
  margin-right: 10px;
}
.block_type .box-left-site .box-input-add-type-word-from-table input {
  margin: 0 0 10px 0;
}
.block_type .box-left-site .box-input-add-type-word-from-table button {
  width: 100%;
}
.block_type .desc_type {
  width: calc(100% - (35% + 10px));
  border: 2px solid black;
  padding: 3px 8px 10px;
  color: #747474;
  font-size: 16px;
  border-radius: 7px;
}

.tab-content > .tab-pane,
.tab-content .pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.tab-content .pill-content > .active {
  display: block;
}

.btn {
  min-width: 100px;
}

.btn-warning {
  background-color: #ffebae;
  border-color: #ffebae;
}
.btn-warning:hover {
  background-color: #f9db84;
  border-color: #f9db84;
}

.btn-danger {
  background-color: #fb8a95;
  border-color: #fb8a95;
}
.btn-danger:hover {
  background-color: #ff5465;
  border-color: #ff5465;
}

#select_type {
  padding: 0px;
}
#select_type .disabled_select {
  background-color: #f4f6f9 !important;
}

.block_table {
  margin-bottom: 0 !important;
}

.table_wrapper .btn_block_column {
  display: flex;
}
.table_wrapper .btn_block_column .btn-danger {
  margin-right: 10px;
}
.table_wrapper .box-learn-button {
  flex-flow: column nowrap;
}
.table_wrapper .box-learn-button a {
  margin-bottom: 7px;
}
.table_wrapper .box-learn-button a:last-child {
  margin: 0;
}

.vgt-global-search__input.vgt-pull-left span.sr-only {
  position: absolute !important;
  left: 37px !important;
  width: 35px !important;
  height: 30px !important;
  top: 2px !important;
  opacity: 1 !important;
  display: none;
  clip: auto !important;
  clip-path: border-box;
  background: white;
  border: 1px solid #ffc4c4;
}
.vgt-global-search__input.vgt-pull-left span.sr-only span {
  font-size: 22px;
  line-height: 28px;
  padding-left: 9px;
  color: #f00;
  cursor: pointer;
}
html, body {
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin: 0;
}
body {
    height: 100vh;
    background-color: #f4f6f9;
    overflow: hidden;
}
header{
    background-color: #f4f6f9;
    border-bottom: 1px solid #d2d2d2;
    height: 60px;
}
header .header-element{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-main-link{
    width: 300px;
    font-size: 24px;
}
#app{
    width: 100%;
    /*min-height: 100vh;*/
    background-color: #f4f6f9;
    cursor: default;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
h1 {
    font-size: 32px;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    outline: none;
}
svg{
    width: 20px;
    height: 20px;
}
.main-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    margin-top: 0;
}
.main-page h2 {
    text-align: center;
    margin: 0 40px 40px 40px;
}
.main-page #left_menu {
    width: 200px;
    min-height: calc(100vh - 60px);
    padding-top: 15px;
    border-right: 1px solid #d2d2d2;
}
.main-page #left_menu a {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 3px 0;
    padding: 5px 0 5px 20px;
    border-radius: 0;
    border-color: rgba(255, 255, 255, 0);
    outline-offset: 0;
}
.router-link-active {
    border-color: rgba(255, 255, 255, 0);
    color: black;
    cursor: default;
}
.router-link-active:hover {
    color: black;
}
.main-page #left_menu .link_index {
    background-color: #f4f6f9;
    width: 100%;
    margin-bottom: 25px;
    padding: 10px 0 6px 0;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    border-top: 3px solid #007bff;
    border-right: 1px solid #d2d2d2;
}
.main-page #left_menu .link_index a {
    display: inline-block;
    color: #4283ff;
    font-weight: 700;
    font-size: 28px;
    width: 100%;
}
.main-page #left_menu .link_index a:hover,
.main-page #left_menu .link_index a:focus {
    text-decoration: none;
    outline: none;
}
.container{
    width: 100%;
    max-width: 100%;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
h1, h2, h3, h4, h5{
    font-weight: 700;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid{
    padding-bottom: 15px;
}
.card{
    box-shadow: none;
}
.wrapper .content-wrapper {
    margin-left: 0 !important;
    min-height: auto !important;

}

