html, body {
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin: 0;
}
body {
    height: 100vh;
    background-color: #f4f6f9;
    overflow: hidden;
}
header{
    background-color: #f4f6f9;
    border-top: 3px solid #007bff;
    border-bottom: 1px solid #d2d2d2;
    height: 60px;
}
header .header-element{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-main-link{
    width: 300px;
    font-size: 24px;
}
#app{
    width: 100%;
    /*min-height: 100vh;*/
    background-color: #f4f6f9;
    cursor: default;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    outline: none;
}
.main-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    margin-top: 0;
}
.main-page h2 {
    text-align: center;
    margin: 0px 40px 40px 40px;
}
.main-page #left_menu {
    width: 300px;
    background: white;
    min-height: calc(100vh - 60px);
    padding-top: 15px;
}
.main-page #left_menu a {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 3px 0;
    padding: 5px 0 5px 20px;
    border-radius: 0;
    border-color: rgba(255, 255, 255, 0);
    outline-offset: 0;
}
.router-link-active {
    border-color: rgba(255, 255, 255, 0);
    color: black;
    cursor: default;
}
.router-link-active:hover {
    color: black;
}
.main-page #left_menu .link_index {
    background-color: #f4f6f9;
    width: 100%;
    margin-bottom: 25px;
    padding: 10px 0px 6px 0px;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    border-top: 3px solid #007bff;
    border-right: 1px solid #d2d2d2;
}
.main-page #left_menu .link_index a {
    display: inline-block;
    color: #4283ff;
    font-weight: 700;
    font-size: 28px;
    width: 100%;
}
.main-page #left_menu .link_index a:hover,
.main-page #left_menu .link_index a:focus {
    text-decoration: none;
    outline: none;
}
.container{
    width: 100%;
    max-width: 100%;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
h1, h2, h3, h4, h5{
    font-weight: 700;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-header{
    padding: 0 0.5rem;
}
.container-fluid{
    padding-top: 15px;
    padding-bottom: 15px;
}

